<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registrar Adelanto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h2>Registrar Nuevo Adelanto</h2>

<form action="/adelantos/crear" method="post">
    <label>Monto del Adelanto:</label>
    <input type="number" step="0.01" name="CNT_ADELANTO" required>
    <br><br>

    <label>Fecha del Adelanto:</label>
    <input type="date" name="FECHA_ADELANTO" required>
    <br><br>

    <label>Estado:</label>
    <input type="text" name="ESTADO_ADELANTO" required>
    <br><br>

    <label>Empleado:</label>
    <input list="empleadoList" name="empleado.ID_EMPLEADO" required>
    <datalist id="empleadoList">
        <option th:each="emp : ${empleados}"
                th:value="${emp.ID_EMPLEADO}"
                th:text="${emp.NOMBRE_EMPLEADO}"></option>
    </datalist>
    <br><br>

    <button type="submit">Guardar</button>
</form>

<br>
<a href="/main/main">Volver al Inicio</a>
</body>
</html>
