<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registrar Bodega</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h2>Registrar Nueva Bodega</h2>

<form action="/bodegas/crear" method="post">
    <label>Nombre de la Bodega:</label>
    <input type="text" name="N_BODEGA" required>
    <br><br>

    <label>Cantidad de Productos:</label>
    <input type="number" name="CNT_PRODUCTOS" min="0" required>
    <br><br>

    <label>Estado:</label>
    <input type="text" name="ESTADO" required>
    <br><br>

    <button type="submit">Guardar</button>
</form>

<br>
<a href="/main/main">Volver al Inicio</a>
</body>
</html>
