<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="header">
    <h1>Sistema de Gestión</h1>
</header>
<div class="container">
    <h2>Bienvenido</h2>
    <div class="button">
        <a href="/main/main">
            <button>INGRESAR ADMIN</button>
        </a>
    </div>
    <br>
    <br>
    <br>
    <div class="button">
        <a href="/mainVendedor/mainVendedor">
            <button>INGRESAR EMPLEADO</button>
        </a>
    </div>
</div>
</body>
</html>