<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de gestión</title>
    <link rel="icon" href="/css/logo-ueb.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

<header>
    <img src="/css/logo.png" alt="logo" class="logo">

    <h1>Sistema de gestión de inventario</h1>
    <h2>Electrodomésticos Adonai</h2>
</header>

<script th:if="${param.logout}" th:inline="javascript">
    alert('¡Sesión finalizada con éxito!');
</script>

<script th:if="${param.denied}" th:inline="javascript">
    alert('No tienes permisos para acceder a este recurso.');
</script>

<div class="container">

    <div class="white-box">
        <h3>Iniciar sesión como...</h3>

        <div class="grid">
            <a href="/mainVendedor/mainVendedor">
                <button>Empleado</button>
            </a>

            <a href="/main/main">
                <button>Administrador</button>
            </a>
        </div>
    </div>

</div>

</body>

</html>