<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista de Bodegas</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h2>Lista de Bodegas</h2>
<table border="1">
    <tr>
        <th>Bodega</th>
        <th>Cantidad De Productos Total</th>
        <th>Estado De Bodega</th>
    </tr>
    <tr th:each="bodega : ${bodegas}">
        <td th:text="${bodega.N_BODEGA}"></td>
        <td th:text="${bodega.CNT_PRODUCTOS}"></td>
        <td th:text="${bodega.ESTADO}"></td>
    </tr>
</table>
<br>
<a href="/mainVendedor/mainVendedor">
    <button style="padding: 5px 10px;">Volver al Inicio</button>
</a>
</body>
</html>
