<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Lista de Ventas</title>
    <link rel="stylesheet" href="/css/list.css">
    <link rel="icon" href="/css/logo-ueb.png" type="image/x-icon"/>

</head>

<body>
<h2>Lista de Ventas</h2>

<div class="centro">
    <table border="1">
        <tr>
            <th>Precio Total Venta</th>
            <th>Vendedor</th>
            <th>Número Remisión</th>
            <th>Fecha</th>

        </tr>
        <tr th:each="venta : ${ventas}">
            <td th:text="${venta.PRECIO_VENTA_TOTAL}"></td>
            <td th:text="${venta.empleado != null} ? ${venta.empleado.NOMBRE_EMPLEADO} : 'N/A'"></td>
            <td th:text="${venta.REMISION}"></td>
            <td th:text="${venta.FECHA_VENTA}"></td>
        </tr>
    </table>
</div>

<br>
<a href="/main/main">
    <button style="padding: 5px 10px;">Volver al Inicio</button>
</a>
</body>

</html>