<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista de Detalles de Movimientos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h2>Lista de Detalles de Movimientos</h2>
<table border="1">
    <tr>
        <th>Fecha Movimiento</th>
        <th>Nombre Producto</th>
        <th>Cantidad en Movimiento</th>
        <th>Bodega origen</th>
        <th>Bodega destino</th>
    </tr>
    <tr th:each="detalle : ${detalles}">
        <td th:text="${detalle.ID_MOVIMIENTO_BODEGA != null} ? ${detalle.ID_MOVIMIENTO_BODEGA.FECHA_MOVIMIENTO} : 'N/A'"></td>
        <td th:text="${detalle.ID_DETALLE_BODEGA != null} ? ${detalle.ID_DETALLE_BODEGA.producto.NOMBRE_PRODUCTO} : 'N/A'"></td>
        <td th:text="${detalle.CNT_PRODUCTO_MOVIMIENTO}"></td>
        <td th:text="${detalle.ID_BODEGA_ORIGEN != null} ? ${detalle.ID_BODEGA_ORIGEN.N_BODEGA} : 'N/A'"></td>
        <td th:text="${detalle.ID_BODEGA_DESTINO != null} ? ${detalle.ID_BODEGA_DESTINO.N_BODEGA} : 'N/A'"></td>
    </tr>
</table>
<br>
<a href="/main/main">
    <button style="padding: 5px 10px;">Volver al Inicio</button>
</a>
</body>
</html>