<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registrar Producto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h2>Registrar Nuevo Producto</h2>

<form th:action="@{/productos/crear}" method="post">
    <label>Nombre:</label>
    <input type="text" name="NOMBRE_PRODUCTO" required>
    <br><br>

    <label>Referencia:</label>
    <input type="text" name="REFERENCIA" required>
    <br><br>

    <label>Costo:</label>
    <input type="number" name="COSTO" step="0.01" required>
    <br><br>

    <label>Existencias:</label>
    <input type="number" name="EXISTENCIAS" required>
    <br><br>

    <label>Tipo de Producto:</label>
    <select name="ID_TIPO_PRODUCTO.ID_TIPO_PRODUCTO" id="ID_TIPO_PRODUCTO" required>
        <option disabled selected value="">-- Seleccione un tipo --</option>
        <option th:each="tipo : ${tiposProducto}"
                th:value="${tipo.ID_TIPO_PRODUCTO}"
                th:text="${tipo.ID_TIPO_PRODUCTO + ' - ' + tipo.NOMBRE_TIPO}">
        </option>
    </select>

    <button type="submit">Guardar</button>
</form>

<br>
<a href="/main/main">Volver al Inicio</a>
</body>
</html>
